#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    font-family: 'Merriweather', serif;
}

header {
    grid-column: 1 / -1;
}

h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 50px;
    font-weight: 800;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

button {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: 700;  
}

.weight1 {
    background-color: #000000;
    color: #ffffff;
    border: #ffffff solid 2px;
}

.weight2 {
    background-color: #2c2c2c;
    color: #ffffff;
    border: #ffffff solid 2px;
}

.weight3 {
    background-color: #727272;
    border: #ffffff solid 2px;
}

.weight4 {
    background-color: #b8b8b8;
    border: #ffffff solid 2px;
}

#art1 {
    grid-column: 2 / 10;
}

.newsletter {
    grid-column: 11 / -2;
}

.wholewidth {
    grid-column: 1 / -1;
}

.smashing {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.smashing > * {
    flex: 0 0 45%;
}

.join {
    grid-column: 5 / -5;
}