#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

header {
    grid-column: 1/-1;
}

.weight1 {
    background-color: #000000;
}

.weight2 {
    background-color: #2c2c2c;
}

.weight3 {
    background-color: #727272;
}

.weight4 {
    background-color: #b8b8b8;
}